body { display: flex; min-height: 100vh; flex-direction: column; -webkit-font-feature-settings: "lnum"; -moz-font-feature-settings: "lnum";font-feature-settings: "lnum";}
.container { display:flex; flex: 1; align-items: center; padding:2rem; max-width:1100px; justify-content:center;}
.module {border-radius:50px; border:2px solid #00FF47;}
.pageTop { margin-top:5%;}
.heading {margin-bottom:30px;}
.subheading {font-size:initial; margin-top:-20px;}
section {padding:6rem 0;}
section .container {padding:0 2rem;}
@media (max-width: 900px) {
    section {padding:4rem 0rem;}
}
@media (max-width: 767px) {
    .container, section .container {padding:0 3rem;}
}
@media (max-width: 500px) {
    .container, section .container {padding:0 2rem;}
}

/* header */
.logo {margin:3rem auto; border:none;}


/* banner */
.banner123 { background-color: #f0f0f0; padding-bottom:14rem; line-height:0;}
@media (max-width: 900px) {
    .banner123 {padding:4rem 0 10rem 0;}
}
@media (max-width: 767px) {
    .banner123 {padding:4rem 0;}
}

/* content module section */
.main {background: rgb(6,29,255); background: linear-gradient(97deg, rgba(6,29,255,1) 0%, rgba(82,208,140,1) 80%);}
.main .four p {color:#fff; padding-right:3rem;}
.main .eight {float:right;}
.main .module {margin-top:-14rem; float:right; padding:5rem; background:#fff;}
.main .module h2 {font-family: favoritmono_beta;}
.main .module p {color:#000; font-size:2.4rem;}
.main .social {list-style:none; padding:5rem 0 0; float:right; color:#fff; margin:0 0 -3rem; display:flex; align-items:center;}
.main .social li {display:inline-block; margin-left:6rem;} 
.main .social li:first-child {margin-left:0;}
.main .social li h4 {font-size:2.4rem; text-align:right; line-height:2.8rem; margin-bottom:0;} 
.main .social li img {height:6rem; vertical-align:middle;}
.main .social a {border:none; display:inline-block;}
@media (min-width:768px) and (max-width: 900px) {
    .main .module {margin-top:-10rem; padding:3rem;}
    .main .module p {font-size:2.0rem;}
    .main .social li {margin-left:5rem;}
    .main .social {margin:0 1rem -2rem; padding-top:4rem;}
    .main .social li h4 {font-size:2.2rem;}
    .main .social li img{height:5rem;}
}
@media (max-width: 767px) {
    .main .four p {padding:0 3rem;}
    .main .module {margin-top:0rem; border-radius:30px; padding:3rem;}
    .main .module p {font-size:1.8rem;}
    .main .eight, .main .four {width:100%;}
    .main .social {margin:0 0 -1rem;}
    .main .social li {margin-left:4rem;}
}
@media (max-width: 530px) {
    .main .module {padding:2rem; }
    .main .four p {padding:.5rem;}
    .main .social {justify-content: space-between; width:96%; margin:0px 2% -1rem; padding-top:3rem;  float:none;} 
    .main .social li img {height:9.5vw;}
    .main .social li {margin:0;}
    .main .social li h4 {font-size:2.0rem;}
}
@media (max-width: 345px) {
    .main .social li {margin-left:1.5rem;}
    .main .social li h4 {font-size:1.6rem; line-height:2.0rem;}
    .main .social li img {height:11vw;}
}

/* partner section */
.partners {list-style:none; padding:5rem 0 3rem; margin:0px auto; display:flex; width:100%; justify-content:space-between;}
.partners li img {height:10rem;}
.partners a {border:none;}
@media (max-width: 900px) {
    .partners li img {height:10vw;}
}

/* legal */
.legalHeader {background:#4B64FF; color:#fff;}
.legalHeader .container {justify-content:left;}
.legalHeader .legalTOC {margin-bottom:0;}
.legalList p {margin-bottom:1.5rem;}
.legalTOC li, .legalOL li {margin-bottom:.2rem;}
.legalOL {list-style:none;}
.legalOL ul {list-style-position:outside; margin-right:3rem;}
.legalOL > li {border-top:1px solid #00FF47; padding-top:1.7em; padding-bottom:1rem;}
.legalOL > li:first-child {border-top:none;}

.legalOL ul li {padding-right:1.5rem;}
.legalTOC.listColumns {column-count:3; column-gap: 5rem; margin-bottom:0;}
.legalTOC.listColumns li {list-style-position:outside; margin-left:2rem;}
.legalList.legalTOC a {color:#00FF47; border:none;}
.legalList.legalTOC a:hover {color:#fff; border:none;}
.legalTOC a {color:#000; border:none;}
.legalTOC a:hover {color:#00FF47; border:none;}
@media (max-width:900px) {
    .legalTOC.listColumns {column-count:2;}
    /*.legalTOC.listColumns li:nth-child(3n+1), .legalTOC.listColumns li  {width:50%;}*/
}
@media (max-width:650px) {
    .legalTOC.listColumns {column-count:unset;}
    .legalTOC.listColumns li {width:100%;}
}
/* footer */

footer {background:#f0f0f0; padding:3rem 0; font-size:1.4rem;; border-top:1px solid #eee; color:#777;}
.copyright {align-self:start; text-align:right;}
.footerNav {list-style:none; margin-bottom:0;}
.footerNav li {text-align:right; margin-right:5%; display:inline;}
.footerNav li:last-child {margin-right:0;}
footer a {color:#444; border:none;}
footer a:hover {border-bottom: 1px solid #00FF47; color:#000;}

@media (max-width: 770px) {
    footer .three.columns, .nine.columns {width: 100%; float:none; margin-left:0;}
    footer .three.columns {margin-left:0;}
    .footerNav {display:flex; justify-content:space-between; font-size:1.5rem;}
    .footerNav li {white-space: nowrap;}
    .copyright {border:none; border-top:1px solid #e5e5e5; padding-top:2.5rem; padding-left:0; margin-top:2rem; margin-left:0; float:none; text-align:left; font-size:1.3rem; }
    footer .container {flex-direction:column;}
}

@media (max-width: 560px) {
    .footerNav {display:block; margin-top:1.4rem; column-count:2; column-gap:3rem;}
    .footerNav li {display:block; text-align:left; font-size:1.6rem;}
    .copyright {text-align:left;}

}

@media (max-width: 350px) {
    .footerNav { margin-top:1.4rem; column-count:unset;}
    .footerNav {flex-direction:column;}
    .footerNav li {display:block; text-align:left; flex-direction:column; font-size:1.4rem;}
    .copyright {text-align:left;}

}

/* show / hide */ 
@media (max-width:600px) {
    .desktopView {display:none;}
    .mobileView {display:block;}
}
@media (min-width:601px) {
    .desktopView {display:block;}
    .mobileView {display:none;}
}





/* klaro */
.klaro .cookie-modal .cm-modal, .klaro .cookie-notice  { background-color:#fff !important; border:1px solid #00FF47 !important; border-radius:10px !important;}   
.klaro .cookie-modal .cm-modal {color:#000 !important;}
.klaro .cookie-notice { bottom:0 !important; right:0 !important; max-width:350px !important;}
.klaro .cookie-notice p {color:#000 !important;}
.klaro .cn-ok {display:flex !important; justify-content:space-around !important;}
.klaro .cookie-notice a, .klaro .cookie-modal a {color:#000 !important; vertical-align:top !important;}
.klaro .cookie-modal .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success {background: #00AA3E;}
.klaro .cookie-modal .cm-btn, .klaro .cookie-notice .cm-btn { text-transform:none !important; width:15rem !important; line-height:initial; margin-right:0 !important; }
.klaro .cookie-notice .cm-btn.cm-btn-success, 
.klaro .cookie-modal .cm-btn.cm-btn-success {background:#4B64FF !important; color:#00FF47 !important;}
.klaro .cookie-notice .cm-btn.cm-btn-success:hover, 
.klaro .cookie-modal .cm-btn.cm-btn-success:hover,
.klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-info.cm-btn-accept:hover {background:#00FF47 !important; color:#4B64FF !important; border:none !important;}
.klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-info.cm-btn-accept {background:#fff !important; border:1px solid #4B64FF; color:#4B64FF !important; margin-left:1rem;}
.klaro .cm-btn.cn-decline {background:#fff !important; border:1px solid #999 !important; color:#666 !important;}
.klaro .cm-btn.cn-decline:hover {background:#999 !important; color:#fff !important;}
.klaro .cookie-modal p, .klaro .cookie-modal h1, .klaro .cookie-modal h2, .klaro .cookie-modal ul, 
.klaro .cookie-modal li, .klaro .cookie-notice p, .klaro .cookie-notice h1, .klaro .cookie-notice h2, 
.klaro .cookie-notice ul, .klaro .cookie-notice li {color:#000 !important;}
.klaro .cookie-modal .cm-app-input:checked+.cm-app-label .slider {background:#4B64FF !important;}
.klaro .cookie-modal .cm-modal .cm-header, .klaro .cookie-modal .cm-modal .cm-footer {border-color:#eee !important;}

@media (max-width:500px) {
    .klaro .cookie-modal .cm-btn {width:11.7rem !important;}
}
@media (max-width:399px) {
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept-all {width:100% !important; display:block !important;}
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept {margin-left:0 !important;} 
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept, 
    .klaro .cookie-modal .cm-btn.cm-btn-decline {width:48% !important;}

}
@media (max-width:340px) {
    .klaro .cookie-modal .cm-btn, .klaro .cookie-notice .cm-btn { width: 48% !important; }
    .klaro .cookie-modal .cm-btn {width:13rem !important;}
}