/* favorit-regular */
@font-face {
    font-family: 'favorit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/favorit/favorit_regular-webfont.woff2') format('woff2');
  }

/* favorit-bold */
@font-face {
  font-family: 'favorit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/favorit/favorit_bold-webfont.woff2') format('woff2');
}

/* favorit mono beta */
@font-face {
    font-family: 'favoritmono_beta';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/favorit/favorit_regular_mono-webfont.woff2') format('woff2');
  }
